<body id="customers-body">
    <div class="container-fluid mt-5 mb-5">
        <div class="row p-4">
            <a class="text-uppercase text-decoration-none text-warning text-center fs-3 p-3" href=""><b>Sneakers</b> R <b>Us</b></a>
            <div class="col-lg-4 mx-auto">
                <div class="border rounded-3 shadow-sm bg-white p-4">
                    <h3 class="fw-bold fst-italic">Sign-In</h3>
                    <form>
                        <div class="mb-3 mt-2">
                            <label for="exampleInputEmail1" class="form-label text-capitalize">Email Address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label text-capitalize">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-success text-uppercase fw-bold w-100">Log-In</button>
                    </form>
                    <p class="small mt-2">By continuing, you agree to our Conditions of Use and Privacy Notice.</p>
                    <hr class="mt-2">
                    <p class=" small mt-2">New here? <a class="text-decoration-none text-warning" href="">Create an account.</a></p>
                </div>
            </div>
        </div>
    </div>
</body>