@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

body * {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.navbar {

}
    .navbar-brand {
        border-bottom: 3px solid;
    }
    .navbar .nav-item .nav-link {
        font-size: 13px;
        color: #fff;
    }
    @media(min-width: 1201px) {
        .navbar .navbar-mid .nav-item .nav-link:hover {
            border-bottom: 2px solid;
        }
    }

.masthead {
    background-image: url(landing.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 700px;
}
    .masthead .btn {
        font-size: 15px;
    }

.features {
    background-color: #f0f0dd;
}
    .features .feature {
        background-color: #f0f0e9;
    }
    .features .feature-header {
        letter-spacing: 1px;
    }

#shoe-list {
    background-color: #f0f0e9;
}
    #shoe-list .btn a, #shoe-list .btn {
        font-size: 13px;
    }
    #shoe-list .filter a {
        width: 110px;
    }