@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

body * {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background-color: rgb(41, 41, 41);
}
    .navbar-brand {

    }
    .navbar .nav-item .nav-link {
        color: #fff;
        font-size: 13px;
    }

#searchbar {
    transition: transform 0s;
}

.masthead {
    background-image: url(landing.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 710px;
}

.features {
    background-color: #f0f0dd;
}
    .features .feature {
        background-color: #f0f0e9;
    }
    .features .feature-header {
        letter-spacing: 1px;
    }

#shoe-list {
    background-color: #f0f0e9;
}
    #shoe-list .btn a, #shoe-list .btn {
        font-size: 13px;
    }
    #shoe-list .filter a {
        width: 110px;
    }
    #shoe-list .brand-sneaker-container {
        margin-top: 100px;
    }

#brands-body {
    background-color: #f0f0e9;
}
    #brands-body .brand-container {
        margin-top: 100px;
    }

#customers-body {
    background-color: #f0f0e9;
}