<div class="col-xs-12 col-sm-6 col-md-4 p-2">
    <div class="card border-0 shadow-sm">
        <a href="#"><%= image_tag (sneaker.image_path), class: "card-img-top shadow-sm img-fluid", alt: "sneaker.name" %></a>
        <div class="card-body">
            <h5 class="card-title"><a href="#" class="fw-bold text-warning text-decoration-none"><%= sneaker.name %></a></h5>
            <p class="card-text fw-bold"><%= number_to_currency(sneaker.price) %></p>
        </div>
    </div>
</div>