<footer class="bg-dark text-center py-4 shadow-sm mt-5">
    <p class="small text-warning">Copyright &copy; 2021 Remelson Magat, WEBDEV-3008</p>
    <p class="small text-warning"><b>NOTE:</b> This web application was made for the purpose of my school project.</p>
</footer>