<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNEAKERS R US</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-xl navbar-dark shadow-lg">
        <div class="container-fluid mx-xl-5">
            <a class="navbar-brand text-warning text-uppercase fs-5" href="#"><b>Sneakers</b> R <b>Us</b></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarLinks">
                <div class="mx-auto">
                    <ul class="navbar-mid navbar-nav text-uppercase">
                        <li class="nav-item active mx-xl-3">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="#">Products</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="#">Categories</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="d-none d-xl-block">
                    <ul class="navbar-nav text-uppercase small">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-search fs-5"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-user-circle fs-5"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-shopping-cart fs-5"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-xl-none d-block me-auto mt-2 mx-2 mx-xl-0">
            <ul class="navbar-nav text-uppercase">
                <div class="d-flex mx-1">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#"><i class="fas fa-search fs-5"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#"><i class="fas fa-user-circle fs-5"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#"><i class="fas fa-shopping-cart fs-5"></i>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    <!-- HEADER -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="text-center text-light">
                    <h1 class="text-warning fw-bolder">Find Your Sneakers Today!</h1>
                    <p class="lead fs-6">Hundreds of sneakers available online and in-store.</p>
                    <a href="#shoe-list"><button class="btn btn-success text-uppercase fw-bold mt-2">Explore Now</button></a>
                </div>
            </div>
        </div>
    </header>
    <!-- WEBSITE INFORMATION -->
    <div class="features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-3">
                    <div class="col-lg-9 d-flex flex-wrap mx-auto mt-2">
                        <div class="col-12 col-md-4 p-2">
                            <div class="feature rounded-1 text-center shadow-sm p-3 h-100">
                                <i class="fas fa-shipping-fast fs-3 mb-3"></i>
                                <h6 class="feature-header text-uppercase fw-bold">Canada-Wide Delivery</h6>
                                <p>Shipping is available to anywhere in Canada.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 p-2">
                            <div class="feature rounded-1 text-center shadow-sm p-3 h-100">
                                <i class="fas fa-lock fs-3 mb-3"></i>
                                <h6 class="feature-header text-uppercase fw-bold">Secure Payments</h6>
                                <p>Online payments are secured and encrypted.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 p-2">
                            <div class="feature rounded-1 text-center shadow-sm p-3 h-100">
                                <i class="fas fa-undo-alt fs-3 mb-3"></i>
                                <h6 class="feature-header text-uppercase fw-bold">Simple Returns</h6>
                                <p>Returning an item is easy and no hassle.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOE LIST -->
    <section id="shoe-list">
        <div class="container-fluid">
            <div class="row" id="sneaker-container">
                <div class="col-12 p-3">
                    <div class="col-lg-9 d-flex flex-wrap mx-auto mt-2 align-items-center p-2">
                        <h5 class="fw-bold">Filter Results:</h5>
                        <div class="filter d-flex flex-wrap justify-content-center pt-sm-0 pt-2">
                            <div class="pb-sm-0 pb-2"><a href="" class="btn btn-success text-uppercase fw-bold pt-2 shadow pb-2 mx-2 pt-0">Sale</a></div>
                            <div class="pb-sm-0 pb-2"><a href="" class="btn btn-success text-uppercase fw-bold pt-2 shadow pb-2 mx-2">New</a></div>
                            <div class="pb-sm-0 pb-2"><a href="" class="btn btn-warning text-uppercase fw-bold pt-2 shadow pb-2 mx-2">Reset</a></div>
                        </div>
                    </div>
                    <div class="col-lg-9 mt-3 d-flex flex-wrap justify-content-start mx-auto">
                        <% @sneakers.each do |sneaker| %>
                            <%= render "sneaker", sneaker: sneaker %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>